[submodule "vendor/github.com/hashicorp/hcl"]
	path = vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "vendor/github.com/jawher/mow.cli"]
	path = vendor/github.com/jawher/mow.cli
	url = https://github.com/jawher/mow.cli
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "vendor/github.com/coreos/go-systemd"]
	path = vendor/github.com/coreos/go-systemd
	url = https://github.com/coreos/go-systemd
[submodule "vendor/github.com/godbus/dbus"]
	path = vendor/github.com/godbus/dbus
	url = https://github.com/godbus/dbus
[submodule "vendor/github.com/coreos/go-semver"]
	path = vendor/github.com/coreos/go-semver
	url = https://github.com/coreos/go-semver
