[Unit]
Description=Cron Job {{.C.Name}} for project {{.P.Name}}@{{.P.Context}}

[Service]
Type=oneshot
ExecStart={{.C.GetCommand .P}}
User={{.S.User}}
Group={{.S.Group}}
WorkingDirectory={{.P.Path}}
Environment="TMPDIR={{.P.Path}}/tmp"

[Install]
WantedBy=default.target
