[Install]
WantedBy=timers.target

[Unit]
Description=Cron Job {{.C.Name}} for project {{.P.Name}}@{{.P.Context}} on Schedule

[Timer]
OnCalendar={{.C.Schedule}}
{{if .S.Systemd.UseLegacy -}}
AccuracySec=10min
{{else -}}
AccuracySec=1us
RandomizedDelaySec=10min
{{- end}}
