[Unit]
Description=Hoi Bare Metal PaaS server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
User=root
Group=root
ExecStart=/sbin/hoid
ExecReload=/bin/kill -HUP $MAINPID
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
