# Copyright 2016 Atelier Disko. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

[Unit]
Description=Hoi Server
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
User=root
Group=root
ExecStart=/sbin/hoid
ExecStopPost=/bin/rm -f /var/run/hoid.socket
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
