[Unit]
Description=Worker {{.W.Name}} for project {{.P.Name}}@{{.P.Context}}
After=beanstalkd.service

[Service]
ExecStart={{.W.GetCommand .P}}
User={{.S.User}}
Group={{.S.Group}}
WorkingDirectory={{.P.Path}}
Environment="TMPDIR={{.P.Path}}/tmp"
Restart=on-abort
RestartSec=120
{{if .S.Systemd.UseLegacy}}
MemoryLimit=200M
{{else}}
MemoryMax=200M
{{end}}

[Install]
WantedBy=default.target
