[Unit]
Description={{description}}
After=beanstalkd.service

[Service]
ExecStart={{command}}
Restart=on-abort
RestartSec=120
User={{user}}
MemoryLimit=200M

[Install]
WantedBy=default.target
